## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
.vs/

## NuGet
*.nupkg
*.snupkg
nupkg/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.idea/
*.swp
*~
.vscode/

## OS
.DS_Store
Thumbs.db
